{% extends 'base.html' %}
{% block title %}{{ disease }}{% endblock %}

{% block body_block %}
<div class="page-header">
  <h1>{{ disease }} disease</h1>
  <p>Avg_price: {{ disease.avg_price }}</p>
</div>

<div class="panel panel-primary">
  <h3>Doctors, that can help you</h3>
  <br/>
    {% if doctors %}
      <ul>
        {% for doctor in doctors %}
          <li>
            <a href="{% url 'profile' doctor.user.username %}">{{ doctor.user.username }} ({{ doctor.price }})</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No doctors in that hospital.</strong>
  {% endif %}
{% endblock %}
