{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body_block %}
    {% if user.is_authenticated %}
        {% if doc_profile.picture %}
            <h2 class='form-signin-heading'>Your's picture</h2>
            <img src="{{ doc_profile.picture.url }}" align="middle" class='img-responsive'>
        {% endif %}
        <h2 class="form-signin-heading">Edit profile</h2>
        <form id="user_form" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form profile_form %}
            <br/>
            {{ disease_n_price.management_form }}
            {% for form in disease_n_price %}
                <div class="col-md-6">
                    {% bootstrap_field form.disease %}
                </div>
                <div class="col-md-6">
                    <div class="col-md-9">
                        {% bootstrap_field form.price %}
                    </div>
                    {% if disease_n_price.can_delete and not forloop.last %}
                        <div class="col-md-3" style="margin-top: 20px">
                        {% bootstrap_field form.DELETE %}
                    {% endif %}
                    </div>
                </div>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
            <br/>
            <button type="submit" class="btn btn-default">Submit</button>

        </form>

    {% else %}
        <h1> You should <a href="{% url 'registration_register' %}">register</a> first</h1>
    {% endif %}
{% endblock %}
