{% extends 'base.html' %}
{% block title %}{{ hospital.name }}{% endblock %}

{% block body_block %}
<div class="page-header">
  <h1>{{ hospital.name }} hospital</h1>
  <p>Address: {{ hospital.address }}</p>
  <p>Phone: {{ hospital.phone_number }}</p>
</div>

<div class="panel panel-primary">
  <h3>Hospital's doctors</h3>
  <br/>
  {% if hospital %}
    {% if doctors %}
      <ul>
        {% for doctor in doctors %}
          <li>
            <a href="{% url 'profile' doctor.user.username %}">{{ doctor }}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No doctors in that hospital.</strong>
    {% endif %}
  {% endif %}
{% endblock %}
