{% extends 'base.html' %}
{% block title %}{{ hospital_name }}{% endblock %}

{% block body_block %}
<div class="page-header">
  <h1>{{ hospital_name }}</h1>
  <b id="like_count">{{ hospital.likes }}</b> people like this hospital.
  {% if user.is_authenticated %}
    <button id="likes" data-catid="{{ hospital.id }}" class="btn btn-primary" type="button">
      <span class="glyphicon glyphicon-thumbs-up"></span> Like
    </button>
  {% endif %}
</div>

<div class="panel panel-primary">
  <br/>
  {% if hospital %}
    {% if doctors %}
      <ul>
        {% for doctor in doctors %}
          <li>
            <a href="{% url 'goto' %}?page_id={{ doctor.id }}">{{ doctor.name }} {{doctor.surname}}</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <strong>No doctors in that hospital.</strong>
    {% endif %}
