{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body_block %}

         <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">

              <div class="panel panel-primary">
                <div class="panel-heading">
                	<h3 class="panel-title">Hospitals</h3>
                </div>
              </div>

          {% if hospitals %}
	            <ul class="list-group">
	              {% for hospital in hospitals %}
	                <li class="list-group-item"><a href="{% url 'hospital'  hospital.slug %}">{{ hospital.name }}</a></li>
	              {% endfor %}
	          	</ul>
	        {% else %}
	            <strong>There are no hospitals present.</strong>
	        {% endif %}
            </div>

            <div class="col-xs-12 col-sm-6 placeholder">
              <div class="panel panel-primary">
                <div class="panel-heading">
                	<h3 class="panel-title">Doctors</h3>
                </div>
              </div>

              {% if doctors %}
	            	<ul class="list-group">
		              {% for doctor in doctors %}
		                <li class="list-group-item"><a href="{% url 'profile' doctor.username }}">{{ doctor.username }}</a></li>
		            	{% endfor %}
	            	</ul>
	        		{% else %}
	            	<strong>There are no doctors present.</strong>
	        		{% endif %}
            </div>

          </div>

{% endblock %}
