{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Register{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<form id="user_form" method="post" action="{%url 'profile' user.username %}" enctype="multipart/form-data">
  {% csrf_token %}
  <h2 class="form-signin-heading">User Profile</h2>
  {% bootstrap_form user_form %}
  {% bootstrap_form profile_form %}
  <br/>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% else %}
<h1> You should <a href="{% url 'registration_register' %}">register</a> first</h1>
{% endif %}
{% endblock %}
